<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Custome Math Service</title>
    <script src="jquery-3.4.1.js"></script>
    <script src="angular.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        table {
            width: 800px;
        }
        
        table,
        th,
        td {
            border: 1px solid rgb(50, 157, 228);
            border-collapse: collapse;
        }
        
        th,
        td {
            padding: 15px;
        }
        
        p {
            display: inline;
        }
    </style>
</head>

<body ng-app="custom.search.app">
    <div ng-controller="evenNumberContoller">
        <table>
            <tr>
                <td colspan="3">
                    <h3>Even number</h3>
                </td>
            </tr>
            <tr>
                <td>Number :</td>
                <td><input type="number" id="txtEvenNumber" ng-model="evenMaxNumber"></td>
                <td>
                    <Button id="btnEvenNumber" ng-click="displayEvenNumber(evenMaxNumber)">Ok</Button>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p ng-repeat="evenNumber in evenNumberList"> {{ evenNumber }} </p>
                </td>
            </tr>
        </table>
    </div>
    <div ng-controller="primeNumberContoller">
        <table>
            <tr>
                <td colspan="3">
                    <h3>Prime number</h3>
                </td>
            </tr>
            <tr>
                <td>Number :</td>
                <td><input type="number" id="txtPrimeNumber" ng-model="primeMaxNumber"></td>
                <td>
                    <Button id="btnPrimeNumber" ng-click="displayPrimeNumber(primeMaxNumber)">Ok</Button>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p ng-repeat="primeNumber in primeNumberList"> {{ primeNumber }} </p>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var customeSearchApp = angular.module('custom.search.app', []);
        customeSearchApp.factory('mathServices', ['$log', function($log) {
            var myObj = {};
            $log.log("Math Services Created");
            myObj.getEvenNumber = function(maxNumber) {
                var evenNumbers = [];
                for (var number = 1; number <= maxNumber; number++) {
                    if (number % 2 == 0)
                        evenNumbers.push(number);
                }
                return evenNumbers;
            };
            myObj.getPrimeNumber = function(maxNumber) {
                var primeNumberList = [];

                function checkPrimeNumber(number) {
                    for (var i = 2; i < number; i++) {
                        if (number % i == 0) {
                            return false;
                        }
                    }
                    return true;
                }
                for (let number = 2; number < maxNumber; number++) {
                    if (checkPrimeNumber(number)) {
                        primeNumberList.push(number);
                    }
                }
                return primeNumberList;
            };
            return myObj;
        }]);
        customeSearchApp.controller('evenNumberContoller', ['mathServices', '$scope', function(mathServices, $scope) {
            $scope.displayEvenNumber = function(maxNumber) {
                $scope.evenNumberList = mathServices.getEvenNumber(maxNumber);
            };
        }]);
        customeSearchApp.controller('primeNumberContoller', ['mathServices', '$scope', function(mathServices, $scope) {
            $scope.displayPrimeNumber = function(maxNumber) {
                $scope.primeNumberList = mathServices.getPrimeNumber(maxNumber);
            };
        }]);
    </script>
</body>

</html>