<div class="container">
    <table align="center" style="width:100%" class="productsDetailsTable">
        <tr>
            <th colspan="6">Product List</th>
        </tr>
        <tr>
            <td>Filter by:</td>
            <td colspan="5"><input type="text" id="txtFilter" ng-model="searchProduct.productName" ng-focus="isDisplayed=true" ng-blur="isDisplayed=false"></td>
        </tr>
        <tr>
            <td colspan="6"><label ng-model="ishidden" ng-show="isDisplayed">Filtered By : {{searchProduct.productName}}</label></td>
        </tr>
        <tr>
            <td><button id="btnImageToggle" ng-click="toggleImage()">{{ imageToggleButtonName }}</button></td>
            <td class="columnName" ng-repeat="columnName in columnsName">{{ columnName }}</td>
        </tr>
        <tr ng-repeat="productDetail in productDetailList | filter : searchProduct">
            <td><img ng-src="{{ productDetail.imageUrl }}" alt="" height="50px" width="50px" ng-hide="isVisibleImage"></td>
            <td><a href="#!/productDetail/{{ productDetail.productId }}">{{ productDetail.productName }}</a></td>
            <td>{{ productDetail.productCode }}</td>
            <td>{{ productDetail.releaseDate }}</td>
            <td>{{ productDetail.price }}</td>
            <td><span class="stars">
                <span ng-style="{ 'width': getStars(productDetail.starRating) }"></span>
                </span>
            </td>
        </tr>
    </table>
</div>